body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: "Helvetica LightObligue";
  src: url(fonts/Helvetica-LightObligue/Helvetica-LightOblique.otf);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/HelveticaNeue/HelveticaNeue.ttf);
}

@font-face {
  font-family: "Museo Regular";
  src: url(fonts/Museo/Museo300.otf);
}

@font-face {
  font-family: "Museo Light";
  src: url(fonts/Museo/Museo100.otf);
}

@font-face {
  font-family: "Museo Bold";
  src: url(fonts/Museo/Museo700.otf);
}

@font-face {
  font-family: "Museo Extra-Bold";
  src: url(fonts/Museo/Museo900.otf);
}

.btn {
  font-family: "HelveticaNeue";
  color: white;
  text-align: left;
}

.btn-focus {
  outline: 0;
}

.btn-active {
  background-image: -moz-linear-gradient(90deg, black 0%, white 100%);
  background-image: -webkit-linear-gradient(90deg, black 0%, white 100%);
  background-image: -ms-linear-gradient(90deg, black 0%, white 100%);
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.42);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.42);
}

.btn-green {
  background: #7ec623;
}

.btn-green:hover {
  background: #8cd929;
}

.btn-green:active {
  background: #70b01f;
}

.btn-blue {
  background: #3d95d1;
}

.btn-blue:hover {
  background: #52a0d6;
}

.btn-blue:active {
  background: #2f89c6;
}

.btn-green {
  font-size: 15px;
  line-height: 1.267;
  border-radius: 10px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.52);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 12px 32px 12px 32px;
}

.btn-blue {
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 14px;
  line-height: 2.571;
  border: 1px solid #216ca0;
  border-radius: 30px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.navigation-wrapper {
  background-color: #505866;
  border-bottom: 1px double #3e4550;
}

.container-fluid {
  background-color: #484f5c;
}

.container {
  max-width: 978px;
  margin: auto;
}

.main-logo {
  font-size: 30px;
  font-family: "Pacifico";
  color: white;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.navigation {
  margin-top: 7px;
}

.navigation ul {
  list-style-type: none;
  float: right;
}

.navigation li {
  padding-left: 40px;
  display: inline-block;
}

.navigation a {
  font-size: 15px;
  font-family: "Helvetica Neue";
  color: white;
  line-height: 2.4;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.nav-bar a:hover {
  padding: 5px 15px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#484f5a), to(#3c414a));
  background-image: -webkit-linear-gradient(left, #484f5a 0%, #3c414a 100%);
  background-image: -o-linear-gradient(left, #484f5a 0%, #3c414a 100%);
  background-image: linear-gradient(90deg, #484f5a 0%, #3c414a 100%);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.active {
  padding: 5px 15px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#484f5a), to(#3c414a));
  background-image: -webkit-linear-gradient(left, #484f5a 0%, #3c414a 100%);
  background-image: -o-linear-gradient(left, #484f5a 0%, #3c414a 100%);
  background-image: linear-gradient(90deg, #484f5a 0%, #3c414a 100%);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.content {
  margin-bottom: 70px;
  background: url(images/content_bg.png) no-repeat;
  background-size: 100%;
}

.splash {
  padding-top: 90px;
}

.iphone {
  width: 100%;
}

.iphone-one {
  -webkit-box-shadow: 50px 0px 40px -31px rgba(124, 129, 138, 0.4);
  box-shadow: 50px 0px 40px -31px rgba(124, 129, 138, 0.4);
}

.iphone-two {
  margin-top: 2px;
}

.proposition h1 {
  font-size: 48px;
  font-family: "Museo Extra-Bold";
  color: white;
  line-height: 0.833;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.texts {
  font-size: 16px;
  font-family: "Museo Regular";
  line-height: 1,4;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.text-one {
  margin-bottom: 10px;
  color: #c6c6c6;
}

.text-two {
  margin-bottom: 20px;
  color: #999999;
}

.proposal {
  padding-left: 10px;
  font-size: 15px;
  font-family: "Museo Regular";
  color: white;
  line-height: 2.4;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.proposal a {
  padding-left: 10px;
  text-decoration: underline;
  color: white;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.labels-wrapper {
  background-color: #4d5563;
  background-image: -webkit-gradient(linear, left top, right top, from(#4d5463), to(#57606f));
  background-image: -webkit-linear-gradient(left, #4d5463 0%, #57606f 100%);
  background-image: -o-linear-gradient(left, #4d5463 0%, #57606f 100%);
  background-image: linear-gradient(90deg, #4d5463 0%, #57606f 100%);
  border-top: 1px solid #343942;
  border-bottom: 1px solid #343942;
}

.labels {
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-half-offset {
  margin-left: 4.166666667%;
}

.content {
  padding-top: 45px;
}

.services {
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid #d7d7d7;
}

.circle {
  position: relative;
  left: 80px;
  bottom: 20px;
}

.service-icon {
  position: relative;
  bottom: 20px;
  right: 20px;
}

.center {
  text-align: center;
}

.three-column {
  margin-top: 70px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #d7d7d7;
}

.introduction {
  margin-left: 40px;
  margin-right: 40px;
  background: url(images/putin.png) no-repeat;
  background-position: right bottom;
  background-color: #e4e4e4;
  border: 1px solid #d7d7d7;
}

.introduction-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 19px;
  font-family: "Museo Regular";
  color: #333333;
  line-height: 0.737;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.introduction-list ul {
  list-style-image: url(images/check.png);
  margin-left: -20px;
}

.introduction-list li {
  padding-top: 10px;
  font-size: 14px;
  font-family: "Museo Regular";
  color: #333333;
  line-height: 1.357;
  text-align: left;
}

.benefits {
  margin-top: 30px;
}

.quote {
  border-left: 1px solid #d7d7d7;
}

.testimonial {
  font-size: 14px;
  font-family: "Museo Light";
  color: #333333;
  line-height: 1.429;
}

.right {
  text-align: right;
}

.projects img {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

footer {
  color: #737d85;
}

.footer-heading {
  text-transform: uppercase;
}

.bot-nav {
  margin-top: 25px;
}

.bot-nav ul {
  list-style-type: none;
}

.footer-navigation {
  margin-bottom: 45px;
}

.footer-navigation li {
  margin-left: -40px;
}

.footer-navigation li:before {
  content: "-";
  position: relative;
  left: -5px;
}

.footer-navigation a {
  font-size: 12px;
  font-family: "Helvetica";
  color: #828d93;
  line-height: 1.333;
  text-align: left;
}

.sprite {
  margin-left: -11px;
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-1 {
  width: 34px;
  height: 34px;
  background-position: -5px -5px;
}

.sprite-2 {
  width: 34px;
  height: 34px;
  background-position: -49px -5px;
}

.sprite-3 {
  width: 34px;
  height: 34px;
  background-position: -93px -5px;
}

.sprite-4 {
  width: 34px;
  height: 34px;
  background-position: -137px -5px;
}

.sprite-5 {
  width: 34px;
  height: 34px;
  background-position: -181px -5px;
}

.disclaimer {
  margin-bottom: 28px;
  font-size: 12px;
  font-family: "Helvetica";
  color: #828d93;
  line-height: 1,333;
  text-align: left;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-bar ul {
    float: left;
  }
  .nav-bar li {
    padding-left: 0px;
  }
  .nav-bar a {
    font-size: 60%;
  }
  .labels img {
    width: 100%;
  }
  .splash {
    margin-bottom: 20px;
    margin-top: -60px;
  }
  .iphones {
    border-bottom: 1px solid #343942;
  }
  .introduction {
    margin-left: -10px;
    margin-right: -10px;
  }
  .introduction li, .introduction p {
    font-size: 60%;
  }
  .testimonial {
    text-align: center;
  }
  .circle,
  .service-icon {
    margin-top: 50px;
  }
  .services {
    margin-top: -20px;
  }
  .three-column {
    margin-top: -50px;
  }
}
