@font-face {
    font-family: "Helvetica LightObligue"; 
    src: url(fonts/Helvetica-LightObligue/Helvetica-LightOblique.otf);
   }
@font-face {
    font-family: "Helvetica Neue"; 
    src: url(fonts/HelveticaNeue/HelveticaNeue.ttf);
   }
@font-face {
    font-family: "Museo Regular"; 
    src: url(fonts/Museo/Museo300.otf);
   }
@font-face {
    font-family: "Museo Light"; 
    src: url(fonts/Museo/Museo100.otf);
   }
@font-face {
    font-family: "Museo Bold"; 
    src: url(fonts/Museo/Museo700.otf);
   }
@font-face {
    font-family: "Museo Extra-Bold"; 
    src: url(fonts/Museo/Museo900.otf);
   }