footer {
    color: rgb(115, 125, 133);
}
.footer-heading {
    text-transform: uppercase;
}
.bot-nav {
    margin-top: 25px;

    ul {
        list-style-type: none;
    }
}
.footer-navigation {
    margin-bottom: 45px;

    li {
        margin-left: -40px;
     }
    li:before {
        content:  "-";
        position: relative;
        left:     -5px;
    }
    a {
        font-size: 12px;
        font-family: "Helvetica";
        color: rgb(130, 141, 147);
        line-height: 1.333;
        text-align: left;
    }
}
.sprite {
    margin-left: -11px;
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-1 {
    width: 34px;
    height: 34px;
    background-position: -5px -5px;
}

.sprite-2 {
    width: 34px;
    height: 34px;
    background-position: -49px -5px;
}

.sprite-3 {
    width: 34px;
    height: 34px;
    background-position: -93px -5px;
}

.sprite-4 {
    width: 34px;
    height: 34px;
    background-position: -137px -5px;
}

.sprite-5 {
    width: 34px;
    height: 34px;
    background-position: -181px -5px;
}
.disclaimer {
    margin-bottom: 28px;
    font-size: 12px;
    font-family: "Helvetica";
    color: rgb(130, 141, 147);
    line-height: 1,333;
    text-align: left;
}
    
    
